/* var */
:root {
  --a-tag-text-color: rgb(9, 105, 218);
  --content-text-color: rgb(99, 108, 118);
  --border-color: rgb(208, 215, 222);
}
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
.box-container {
  margin: 1em;
  border-radius: 6px;
  border: 1px var(--border-color) solid;
  width: 500px;
}
.box-row {
  height: auto;
  border-top: 1px var(--border-color) solid;
  padding: 1em;
}
.box-row:first-of-type {
  border-top-color: transparent;
}
.name-container {
  display: flex;
  align-items: center;
}
.box-reponame {
  font-size: 16px;
  font-weight: 600;
  color: var(--a-tag-text-color);
  line-height: 2em;
  margin-right: 8px;
}
.box-visibility {
  font-size: 12px;
  font-weight: 600;
  color: #636c76;
  border: 1px var(--border-color) solid;
  border-radius: 2em;
  padding: 0.12em 0.5em;
  line-height: 1.2;
  /* margin: 0 0 0 4px; */
}
.box-description {
  font-size: 14px;
  color: var(--content-text-color);
  margin: 0 0 16px 0;
}

.box-topics {
  font-size: 12px;
  font-weight: 600;
  color: var(--a-tag-text-color);
  background-color: rgb(221, 244, 255);
  border-radius: 2em;
  line-height: 22px;
  padding: 6px 12px;
  margin: 0 0.2em 0.4em 0;
}

.more {
  color: var(--a-tag-text-color);
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  margin-top: 0.8em;
}
